<section class="hero is-fullheight">

    <!-- /////////// -->
    <div class="hero-head ">
        <div class="columns is-mobile is-marginless heading has-text-weight-bold">
            <div class="column left">
                <p class="navbar-item has-text-black is-size-2">Chat App</p>
                <!-- <figure class="navbar-item image">
                                    <img src="images/tesla.svg" style="width: 6.25rem; height: 1rem;">
                                </figure> -->
            </div>
            <div class="column center ">
                <!-- <p class="navbar-item has-text-black is-size-2">MODEL S </p>
                        <p class="navbar-item has-text-black is-size-2">MODEL X </p>
                        <p class="navbar-item has-text-black is-size-2">MODEL 3 </p>
                        <p class="navbar-item has-text-white">ROADSTER</p>
                        <p class="navbar-item has-text-black is-size-2">ENERGY </p> -->
            </div>
            <div class="column right">
                <p class="navbar-item has-text-black is-size-2 desktop">Home </p>
                <p class="navbar-item has-text-black is-size-2 desktop">Account </p>

                <div class="dropdown">
                    <div class="dropdown is-right is-hoverable">
                        <div class="dropdown-trigger">
                            <!-- <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                        <span>Hover me</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button> -->
                            <figure class="navbar-item image has-text-black is-size-2 center">
                                <i class="fas fa-bars" style="width: 2rem; height: 2rem;"></i>
                            </figure>
                        </div>
                        <div class="dropdown-menu " id="dropdown-menu4" role="menu">
                            <div class="dropdown-content ">
                                <div class="dropdown-item">
                                    <p>You can insert
                                    </p>
                                    <p>You can insert
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div id="chat-area">

        </div>
    </div>

</section>