.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
 	.hero {
        background: black url(/image/20180113074447.JPG) center / cover;
    }

}

/* @media (min-width: 1025px) {
	.mobilenavbar {
		display: none;
	}
} */

.hero {
    background: black url(/image/20180113074447.JPG) center / cover;
}


@media (max-width: 768px) {
    .hero {
        background: black url(/image/mobile.JPG) center / cover;
    }
}