
footer {
	background-color:grey;
	font-size: 15px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 7px;
	border: .5px solid silver;
	line-height: 50px;
  }







.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

@media (min-width: 1025px) {
	.mobilenavbar {
		display: none;
	}
}