.hero {
    background: black url(../image/mountains2.jpg) center / cover;
    text-shadow: 2px 2px solid white;
}

@media (max-width: 1024px) {
    .hero {
		background: black url(../image/20180113074447.JPG) center / cover;
		text-shadow: 2px 2px white;
    }
}

@media (max-width: 768px) {
    .hero {
        background: black url(../image/mobile.JPG) center / cover;
    }
}

.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

@media (min-width: 1025px) {
	.mobilenavbar {
		display: none;
	}
}

footer {
	position: relative;
	text-align: center;
	margin-top: -30px;
	height: 40px;
	clear: both;
	background-color: green;
  }