body {
    background-color: yellow;
}

button {
    margin-bottom: 200px;
    padding-bottom: 100px;
}

#container {
    max-width: 500px;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
}

   .is-lower-padding {
            padding-top: 2rem;
            padding-bottom: 2rem;
        } 
        .section {
            padding-top: .75rem;
        }
        .hero {
            background: black url(/image/tree.jpg) center / cover;
            text-shadow: 2px 2px solid white;
        }
        
        @media (max-width: 1024px) {
            .hero {
                background: black url(/image/20180113074447.JPG) center / cover;
                text-shadow: 2px 2px white;
            }
        }
        
        @media (max-width: 768px) {
            .hero {
                background: black url(/image/mobile.JPG) center / cover;
            }
        }

        /* update bar */
         #progress-bar {
            color: white;
            background-color: orange;
            padding: 3px 0px 3px 0px;
            text-align: center;
            font-size: 10px;
            width: 0%;
        }
    
         input[type=file]::-webkit-file-upload-button {
            padding: 5px 12px 5px 12px;
            /* background: linear-gradient(#A29B9B, gray); */
            background-color: #3273dc;
            color: white;
            border: 0px;
            border-radius: 2px;
            font-size: 20px;
            /* margin-top: 20px; */
            text-align: center;
            cursor: pointer;
        } 
    
        input[type=file]::-webkit-file-upload-button:hover {
            background: linear-gradient(#A6D1EC, #32A1D7);
        }
    
        input[type=file]::-webkit-file-upload-button:focus {
            outline: none
        }
    
        input[type=file] {
            margin: auto;
            display: inline;
            /* width: 260px; */
        }  