body {
    background-color: yellow;
}


   /* .is-lower-padding {
            padding-top: 2rem;
            padding-bottom: 2rem;
        } */
        /* .section {
            padding-top: .75rem;
        } */